body {
    color: black;
    background-color: white;
}

.header {
    background-color: black;
}

.header_item {
    color: darksalmon;
}

.header_item.selected {
    text-decoration-color: dodgerblue !important;
}

.headerTitle {
    color: antiquewhite;
}

.header_item_source {
    color: darksalmon;
}

.header_item_source.inactive {
    color: darkgray;
}

.sidebar {
    border-right-color: cadetblue;
    background-color: powderblue;
}

.sidebarAligner td.bottom {
    color: dimgray;
}

.sidebarAligner td.bottom a:hover {
    color: firebrick;
}

.sidebar_item { 
    color: firebrick;
}


.sidebar_item:hover { 
    background-color: #8fd8e1;
}

.sidebar_item.selected {
    text-decoration-color: dodgerblue;
}

div.sidebar h3 {
    color: darkslategray;
}


