.header {
    background-color: black;
}

.header a:link, .header a:visited, .header a:hover, .header a:active,
.header_item {
    color: darksalmon;
}

.header_item.selected {
    text-decoration-color: #06e8ff !important;
}

.header_item.selected .header_image {
    border-bottom-color: #06e8ff;
}

.headerTitle {
    color: antiquewhite;
}

.header_item_source {
    color: darksalmon;
}

.header_item_source.inactive {
    color: darkgray;
}

.sidebar {
    border-color: #87ebee;
    background-color: #455f79;
}

.sidebar a:link, .sidebar a:visited, .sidebar a:hover, .sidebar a:active {
    color: white;
}

.poweredBy a:link, .poweredBy a:visited, .poweredBy a:hover, .poweredBy a:active {
    color: inherit;
}

.poweredBy a:hover {
    color: white;
}

.sidebar_item, .sidebar_item_inline {
    color: white;
}

.sidebar_item:hover, .sidebar_item_inline:hover {
    background-color: #5f7c9b;
}

.sidebar_item.selected, .sidebar_item_inline.selected {
    text-decoration-color: #06e8ff;
}

div.sidebar h3 {
    color: honeydew;
}

*[id]:target::before, *[name]:target::before {
    content: url(target_pointer.png);
}

